{% extends 'blog/navbar.html' %}
{% block content %}
<title>BITSA | What We Do</title>
<div class="content-area area-padding">
    <div class="container">
        <div class="row">
        <!-- Start Description area -page -->
            <div class="section-head text-center">
                <h3>What is BITSA?</h3>
                
                <p> We are the student body representing and supporting the Information Systems undergraduate students of UNSW's Australian School of Business. </p>                                                  
                <p> We connect students to alumni and industry sponsors as well as across all the different years currently studying at UNSW.</p>

                <p> Simply join our group at SpArc to be recognised as an official BITSA member for insights into the technology industry and networking opportunities. </p>

                <div class="slider-button">
                     <a class="slide-btn" href="https://member.arc.unsw.edu.au/s/clubdetail?clubid=0016F0000371VwQQAU">GET INVOLVED</a>
                </div>

            </div>
        </div>
    </div>        
</div>  
{% endblock %}